.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  min-height: 70vh;
  margin: 2rem auto;
  gap: 20px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

 
.stepContent {
  display: flex;
  width: 100%;
  

}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
    margin-left:2rem;
}

.leftColumn select {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;

}


.rightColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  border-radius: 12px;
  margin-right:2rem;
}

.rightColumn img {
 
  object-fit: contain;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.btnBack {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px 24px;
  cursor: pointer;
}

.btnContinue {
  background-color: rgb(255, 100, 10);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

.progressWrapper {
  width: 100%;
  max-width: 900px;
  margin-bottom: 50px;
}