.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.inputNumber {
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.backButton {
  background-color: white;
  color: black;
  border: 1px solid #000;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.continueButton {
  background-color: rgb(255, 102, 0);
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.continueButton:hover:not(:disabled) {
  background-color: #ff7300;
}

.progressWrapper {
  width: 100%;
  max-width: 400px; /* limita larghezza della progress bar */
  margin-bottom: 40px;
}
