.container {
  width: 100%;
  height: 10px;
  background-color: #B6BDF7;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.fill {
  height: 100%;
  background-color: #FF6400;
  transition: width 0.3s ease-in-out;
}
