/* CONTAINER PRINCIPALE */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TITOLO */
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #020122;
  margin-top:-1.4rem;
  margin-bottom: 30px;
}

/* CONTENITORE A DUE COLONNE */
.content {
  display: flex;
  gap: 25px;
  width: 100%;
}

/* COLONNA SINISTRA */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-left:-4rem;
}

/* LABEL */
.label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  text-align: center;
  color: #020122;
}

/* INPUT */
.input {
  padding: 10px;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 80%;
  max-width: 350px;     
  text-align: start;
  color: #5d5d5d;

  margin-left: 0;            
  margin-right: 0;
}

/* ERRORE */
.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

/* BOTTONI */
.buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  width: 80%;
  max-width: 350px;
  justify-content: center;

  margin-left: 0;     
  margin-right: 0;
}

/* BOTTONI */
.back,
.next {
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
}

/* INDIETRO */
.back {
  background: white;
  border: 1px solid #020122;
  color: #020122;
}

.back:hover {
  background: #f5f5f5;
}

/* CONTINUA */
.next {
  background: #ff7300;
  border: none;
  color: white;
}

.next:hover {
  background: #e36600;
}

/* COLONNA DESTRA (MAPPA) */
.right {
  flex: 1;
  min-height: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.map {
  width: 100%;
  height: 100%;
  border: none;
}

/* -------------- RESPONSIVE -------------- */

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .right {
    min-height: 300px;
    width: 100%;
  }
}

/* ==========================
   RESPONSIVE MOBILE
========================== */
@media (max-width: 600px) {
  .title {
    margin-top: -1rem;
    font-size: 24px;
    margin-bottom: -0.5rem;
  }

  .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-left: 0;
}

  /* INPUT MOBILE */
  .input {
    width: 95%;                
    max-width: 400px;
  }

  /* BOTTONI MOBILE */
  .buttons {
    width: 95%;
    max-width: 400px;
    display: flex;
  }

  .back,
  .next {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  /* MAPPA MOBILE */
  .right {
    min-height: 100px;
    width: 90%;
  }
}