/* CONTAINER PRINCIPALE */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

/* TITOLO */
.title {
  font-size: 30px;
  font-weight: 700;
  color: #020122;
  margin-bottom: 10px;
}

/* SOTTOTITOLO */
.subtitle {
  font-size: 18px;
  color: #020122;
  margin-bottom: 25px;
  margin-top: 1rem;
}

/* INPUT NUMERICO */
.inputWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.inputNumber {
  width: 110px;
  height: 100px;
  font-size: 34px;
  text-align: center;
  border: 1px solid #020122;
  border-radius: 12px;
  background: #fafafa;
  margin-top:1rem;
  margin-bottom: 1rem;
   color:#020122;
}

.inputNumber:focus {
  outline: none;
  border-color: #ff7300;
}

/* ERRORE */
.error {
  color: red;
  margin-top: 8px;
  font-size: 15px;
}

/* BOTTONI */
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.backButton,
.continueButton {
  padding: 12px 34px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

/* BOTTONI - INDIETRO */
.backButton {
  background-color: white;
  color: #020122;
  border: 1px solid #020122;
}

.backButton:hover {
  background-color: #f4f4f4;
}

/* BOTTONI - CONTINUA */
.continueButton {
  background-color: #ff7300;
  color: white;
  border: none;
}

.continueButton:hover {
  background-color: #e66600;
}



/* -------- RESPONSIVE -------- */

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }

  .inputNumber {
    width: 100px;
    height: 100px;
    font-size: 30px;
  }

  .buttonContainer {
    display: flex;
    width: 90%;
    margin-left:1rem;
  }

  .backButton,
  .continueButton {
    width: 100%;
  }


}
