.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.googleButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 20px;
}

.googleButton:hover {
  background-color: #f5f5f5;
}

.googleIcon {
  width: 20px;
  height: 20px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #555;
}

.form {
  display: flex;
  gap: 30px;
  width: 100%;
}

.leftColumn,
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #ff6600;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.4);
}

.loginText {
  font-size: 0.9rem;
  margin-top: 10px;
}

.loginLink {
  color: #ff6600;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.registerButton {
  margin-top:-2rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5.3rem;
}

.registerButton:hover {
  background-color: #e65c00;
}
