.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.error {
  color: #d40000;
  text-align: center;
  margin-bottom: 15px;
}

.buttons,
.buttonsResult {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.backButton,
.submitButton,
.continueButton {
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s ease;
}

.backButton {
  background: white;
  border: 2px solid #020122;
  color: #020122;
}

.backButton:hover {
  background: #020122;
  color: white;
}

.submitButton {
  background: #ff7300;
  border: none;
  color: white;
}

.submitButton:hover {
  background: #e06400;
}

.continueButton {
  background: #ff7300;
  border: none;
  color: white;
}

.continueButton:hover {
  background: #db6402;
}

.resultBox {
  background: white;
  padding: 40px 25px;
  border-radius: 18px;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.resultTitle {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

.resultValue {
  font-size: 38px;
  font-weight: 800;
  color: #ff7300;
  margin-bottom: 30px;
}


.rangeBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.rangeItem {
  background: #f8f8f8;
  padding: 18px 25px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  text-align: center;
  min-width: 140px;
}

.rangeLabel {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 4px;
}

.rangeValue {
  font-size: 20px;
  font-weight: 700;
  color: #ff7300;
}
