.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  gap: 20px;
  text-align: center;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 24px;
  background-color: rgb(255,115,0);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
