.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); 
}

/* Card bianca centrale */
.login-card {
  background-color: #fff;
  padding: 2.5rem 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 450px;
  max-height: 690px;
  text-align: left;
}

/* Titoli */
.login-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.login-subtitle {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 1.8rem;
}

.google-btn {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 10px;
  background: white;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.google-btn:hover {
  background: #f5f5f5;
}
.google-icon {
  width: 20px;
  height: 20px;
}

/* ===== DIVIDER ===== */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #333;
  margin: 0 10px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* spazio tra i gruppi di input */
  text-align: left;
}

/* Gruppo label + input */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem; /* avvicina label e input */
}

.form-group label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.form-group input {
  color: black;
  background-color: transparent;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #ff6600;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.4);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
  font-size: 0.9rem;
}
.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Messaggio di errore */
.login-error {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

/* Bottone arancione */
.login-button {
  background-color: #ff6600;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  padding: 0.8rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(255, 102, 0, 0.4);
}

.login-button:hover {
  background-color: #e65c00;
  box-shadow: 0 8px 16px rgba(255, 102, 0, 0.5);
}

.login-register {
  margin-top: 1rem;
  font-size: 0.9rem;
}
