@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary: #ff6400;
  /* Arancione accento */
  --secondary: #048a81;
  /* Verde acqua */
  --hero-bg: #b6bdf7;
  /* Lilla / azzurro chiaro */
  --bg-light: #Faf6f0;
  /* Sfondo sezioni chiare */
  --text-dark: #020122;
  /* Testo principale */
  --text-light: #444;
  /* Testo secondario */
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #474BCA;
  text-decoration: inherit;
}

a:hover {
  color: #474BCA;
}


body {
  background: #F5FBEF;
  background-size: 2060px 1600px;
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
  color: #020122;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  width: 100%;
  min-Height: 80vh;
  box-sizing: border-box;
  flex: 1;
}



html,
body,
main,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}