@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


:root {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5FBEF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Merriweather', serif;
  color: #020122;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  background: #F5FBEF;
}

textarea, input, select, button {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

main {
  width: 100%;
  min-Height: 80vh;
  box-sizing: border-box;
  flex: 1;
}

footer {
  width: 100%;
  padding: 14px 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  border-top: 1px solid #ddd;
}

html, body, main, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

